.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 6rem;
    padding-bottom: 3rem;
    min-height: 75vh;
    max-width: 100vw;
}

.page_title {
    font-size: 3.5rem;
    margin: 4rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 1rem;
}

.pfp {
    width: 15rem;
    height: auto;
    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    padding: 1.5rem;
}

.box {
    width: 50%;
    margin: 0 3rem;
}

.box_title {
    color: gray;
    font-style: italic;
    margin: 0 0 1rem 0;
}

@media (max-width: 700px) {
    .main {
        padding: 0 3rem;
    }

    .page_title {
        margin: 2rem 1rem;
    }

    .container {
        flex-direction: column;
    }

    .box {
        width: 100%;
        margin: 0;
    }
}