.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 1rem 0;
  }
  
  .home_link {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--font-mono);
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    z-index: 10;
  }