.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 1rem;
}

.pfp {
    width: 15rem;
    height: auto;
    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    padding: 1.5rem;
}

.box {
    width: 50%;
    margin: 0 3rem;
}