.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 6rem;
    padding-bottom: 3rem;
    min-height: 75vh;
    max-width: 100vw;
}

.page_title {
    width: 100%;
    margin: 1rem;
    font-size: 3.5rem;
}

.title {
    font-size: 2rem;
    margin: 1rem;
}

.image {
    width: 50%;
    height: auto;
    margin: 2rem 0;
    border-radius: var(--border-radius);
}