.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 6rem;
  min-height: 75vh;
  max-width: 100vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.glow {
  position: relative;
}

.glow::before {
  content: '';
  background: var(--secondary-glow);
  border-radius: 50%;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  filter: blur(50px);
  animation: glowwing 3s ease-in-out 0s infinite alternate both;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.title {
  font-family: sans-serif, monospace;
  font-size: 4rem;
  padding: 2rem 0;
}

.subtitle {
  font-family: fantasy, monospace;
  font-size: 1.5rem;
  color: #af8f00;
}

.left_icon {
  position: absolute;
  left: -15%;
  animation: left_in 2s ease-out 0.5s 1 normal forwards;
}

.right_icon {
  position: absolute;
  right: -15%;
  animation: right_in 2s ease-out 0.5s 1 normal forwards;
}

.video {
  width: 45%;
  max-width: 450px;
  height: auto;
  border-radius: var(--border-radius);
}

.introduction {
  font-size: 1.5rem;
  text-align: center;
  margin: 5rem 0;
}

.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.description p {
  margin: 2rem;
  align-self: flex-start;
}

.casesLink {
  position: relative;
  opacity: 0.6;
  padding: 1rem;
  display: block;
  text-align: end;
  align-self: flex-end;
  transition: transform 1s;
}

.casesLink:hover {
  transform: translateX(-10%);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

/* animation */
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes glowwing {
  from {
    top: 0%;
    left: 0%;
  }
  to {
    top: 30%;
    left: 60%;
  }
}

@keyframes left_in {
  from {
    left: -50vw;
  }
  to {
    left: -15%;
  }
}

@keyframes right_in {
  from {
    right: -50vw;
  }
  to {
    right: -15%;
  }
}